<h1>Listing tours</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Difficulty</th>
    <th>Tourtime</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tours.each do |tour| %>
  <tr>
    <td><%= tour.name %></td>
    <td><%= tour.difficulty %></td>
    <td><%= tour.tourtime %></td>
    <td><%= tour.path %></td>
    <td><%= link_to 'Show', tour %></td>
    <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
    <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tour', new_tour_path %>
